html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: 'Times New Roman', Times, serif; /* this should be the rest of the output you got from Google Fonts */
    background-color: #333;
  }


ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

#namelabel {
    float: left;
    margin: 0px 0px 0px 10px;
    font-weight: bold;
}
  
  
li:last-child {
    border-right: none;
  }

.navbar {
    position: relative;
    display: block;
    color: #6082B6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
li a:hover:not(.active) {
    color: #5A4FCF;
  }
  
#imagelabel {
    width: 5%;
    float: left;
    margin: 0px 0px 0px 100px;
}


#Profileimage {
    position: relative;
    top: 100px; left: 600px;
    width: 35%;
  }
  
#image {
    display: inline-block;
    height: auto;
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
  }

#intro {
    color: #6082B6;
    width: 500px;
    position: relative;
    font-size: 20px;
    top: 30px; left: 380px;
    margin: 100px 50px 50px 100px;
    text-align: center;
  }

.icons {
    display: block;
    position: relative;
    filter: invert(100%);
    top: 0px; left: 635px;
    width: 3%;
    float: left;
    margin: 0px 5px 0px 10px;
}
